
// https://jtauber.github.io/articles/css-hexagon.html

// @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Ubuntu:wght@500&family=Work+Sans:wght@600&display=swap');

$hex-height: 100px;
$hex-width: $hex-height*0.866;
$hex-spacing: 7px;
$lg-font-size: 30px;

body{
  font-family: 'Cabin', sans-serif;
  font-size: $lg-font-size;
  // background: #111;
}

.hive{
  .text-input{
    text-align: center;
  }
}

.hex-container{
  position: relative;
  top: 0;
  left: 0;
}

.hex-row{
  clear: left;
  margin-left: ($hex-width+$hex-spacing)/2;
  &.center-row{
    margin-left: 0px;
  }
}

.hex{
  position: relative;
  // background: #e2e2e2;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  // width = height*sqrt(3)/2
  height: $hex-height;
  width: $hex-width;
  display: block;
  float: left;
  margin-left: $hex-spacing;
  margin-bottom: -($hex-height/4)+$hex-spacing;
  cursor: pointer;
  &:hover{
    &::after{
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      top: 5px;
      left: 5px;
      background: #d2d2d2;
    }
    &.center-hex::after{
      background: #dfc625;
    }
  }
  &::after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #e2e2e2;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all 0.1s;
  }
  &.center-hex::after{
    background: #fde227;
  }
  .hex-letter{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);;
  }
}